{{ catalog.render_assets() }}
{# def
    project = {
        "name": "PROJECT_NAME",
        "path": "/at/home"
    }
#}

<div class="bg-[#555555] p-4 flex flex-col h-full">
    <div class="flex flex-col">
        <p><b> {{ project.name }} </b></p>
        <p class="text-[#EFF8E25a]"><b> {{ project.path }} </b></p>
    </div>
    <hr/>

    <h1>Logs</h1>
    <textarea readonly="true" disabled class="w-full bg-[#1a2221]">
        Lorem ipsum
    </textarea>

</div>